body {
    font-size: 16px;
    font-family: "Arial";
    margin: 10px 10px 10px 10px;
    padding: 0px 0px 0px 0px;
}

section {
  display: block;
}

.css_title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 16px 0px;
    text-transform: uppercase;
}

.css_emblem {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 16px 0px;
    width: 5cm;
}

.css_subtitle {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 16px 0px;
    text-transform: uppercase;
}

.css_quote {
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 16px 0px;
}

.css_lines {
    /* background-color: blue; */
    padding: 0px 0px 0px 0px;
    margin: 18px 64px 18px 64px;
    text-align: center;
}

.css_text {
    /* background-color: #FFFFDD; */
    padding: 0px 0px 0px 0px;
    margin: 11px 0px 11px 0px;
}

.css_bible_text {
    border-radius: 7px 7px 0px 0px;
    background-color: #f7f7f7;
    padding: 11px 7px 11px 7px;
    margin: 11px 24px 0px 24px;
    border-style: solid;
    border-color: #a0a0a0;
    border-width: 1px 1px 0px 1px;
    font-size: 15px;
    text-align: justify;
}

.css_bible_origin {
    border-radius: 0px 0px 7px 7px;
    background-color: #eeeeee;
    padding: 3px 7px 3px 7px;
    margin: 0px 24px 11px 24px;
    border-style: solid;
    border-color: #a0a0a0;
    border-width: 0px 1px 1px 1px;
    border-top: solid 1px #cccccc;
    text-align: right;
    font-size: 14px;
}

